.namePlate{
    padding:0px 4px;
    margin-block-end: 10px;
    border-width:0 0 0  3px;
    border-style:solid;
    border-color:#F3B61F;
}

.addMemberButton{
    width:100%;
    margin-block:10px;
}